.positioned {
	padding: 10px;
	border: 1px solid red;
	width: 200px;
	height: 200px;

	/** position
	static, relative, aboslute, fixed
	*/

	position: absolute;
	top: 0px;
	/* if you do absolute, the element gets 
	completely removed from the flow
	you can still use the top, left, right, bottom */
}

.container {

	/* now the box is moved in relation to the container*/
	position: relative;

}
/*	/* with relative or absolute, you can adjust more features:
	top, left, right, bottom without changing the 
	original box 
	left: 20px;
	top: 40px;*/
	/* flow of text isn't adjusted 
} 